@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';
@font-face {
  font-family: 'Doctor Glitch Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Doctor Glitch Regular'),
    url('./fonts/doctor_glitch.woff') format('woff');
}

body {
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
}
